<p>accounts works!</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>S no</th>
            <th> Account Name</th>
            <th>Account Number</th>
            <th>Available Balance</th>
            <th>City</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let account of accounts; let i=index">
            <td>{{i+1}}</td>
            <td>{{account.account_name}}</td>
            <td>{{account.account_number}}</td>
            <td>{{account.available_balance}}</td>
            <td>{{account.city}}</td>
            
        </tr>
    </tbody>
</table>
