<h2>Account</h2>

<input type="text" [(ngModel)]="term" (keyup)="filter()" placeholder="Search Account">

<select [(ngModel)]="column">
    <option>account_name</option>
    <option>account_number</option>
    <option>available_balance</option>
    <option>city</option>
</select>

<select [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
</select>

<button (click)="sort()">Sort</button>

<select [(ngModel)]="limit">
    <option>10</option>
    <option>20</option>
    <option>30</option>
    <option>40</option>

</select>

<select [(ngModel)]="page">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>

</select>

<button (click)="pagination()">Pagination</button>
<button  class="btn btn-primary" routerLink="/dashboard/create-account"> Create Account</button>



<table class="table table-dark">
    <thead>
        <tr>
            <th>S no</th>
            <th> Account Name</th>
            <th>Account Number</th>
            <th>Available Balance</th>
            <th>City</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let account of accounts; let i=index">
            <td>{{i+1}}</td>
            <td>{{account.account_name}}</td>
            <td>{{account.account_number}}</td>
            <td>{{account.available_balance}}</td>
            <td>{{account.city}}</td>
            <td>
                <button (click)="delete(accounts.id)" class="btn btn-danger">Delete</button>
            </td>
            
        </tr>
    </tbody>
</table>
