<div class="parent">
    <div class="left">
    <h1> My Website</h1><hr>
    <h3 routerLink="home">Home</h3><br>
    <!-- <h3 routerLink="welcome">Welcome</h3><br>
    <h3 routerLink="databinding">Data Binding</h3><br>
    <h3 routerLink="directives">Directives</h3><br>
    <h3 routerLink="employee">Employee</h3><br>
    <h3 routerLink="calcultor"> Calcultor</h3><br>
    <h3 routerLink="rectangle">Rectangle</h3><br>
    <h3 routerLink="circle"> Circle</h3><br> -->
    <h3 routerLink="bmi">BMI</h3><Br>
        <h3 routerLink="vehicle">Vehicle</h3><Br>
            <h3 routerLink="accounts">Accounts</h3><Br>
                <h3 routerLink="pinterest">Pinterest</h3><Br>
                    <h3 routerLink="flipkart">Flipkart</h3><Br>
                        <h3 routerLink="mail">Mail</h3><Br>
                            <h3 routerLink="studentidcard">Student Id card</h3><hr><br><br><br><Br>

    <button> Logout</button>

</div>
<div class="right">
    <router-outlet></router-outlet>
</div>
</div>