.parent{
    width: 600px;
    height: 400px;
    background-color: white ;
    display: flex;
    margin: 100px;
}

.top1{
    background-color: green;
    width: 200px;
    height: 200px;
}   

.top{
    background-color: wheat;
    width: 200px;
    height: 400px;
}

.middle{
width: 500px;
height: 200px;
background-color: red;
}

.bottom{
    width: 200px;
    height: 200px;
    background-color: aqua;
}