<p> Student Id Card</p>
<div class="parent">
    <div class="main" *ngFor="let student of students">
        <img [src]="student.profile_picture" [alt]="">
        

        <p>{{student.name}}</p>
        <p>{{student.phone}}</p>
        <p>{{student.city}}</p>
        <p>{{student.dob}}</p>
        </div>
        <div class="top">
            <div class="top1"></div>
        </div>
                <div class="middle">
                    <div class="Bottom"></div>
                </div>
        </div>

